{% extends "account_base.html" %}
{% block title %} Account {% endblock %}
{% load static %}
{% block content %}

<div class="row">
   <div class = "col-md-3 p-3">
      {% if profilePic != None %}
      <img src="{{ profilePic.photo.url }}" class= "img-fluid img-thumbnail"  />
      {% else %}
      <img src="{% get_media_prefix %}default_avatar.png" class= "img-fluid img-thumbnail" />
      {% endif %}
    </div>
    <div class="col-md-9 p-3">
    <div class="pt-3 mb-md-0 text-start">
      <h2>{{user.username}}</h2><br>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 col-md-3">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-dark" onclick="window.location.href = '{% url 'editProfile' %}'">Edit Profile</button>
        <button type="button" class="btn btn-sm btn-dark" onclick="window.location.href = '{% url 'changePic' %}'">Upload Photo</button>
      </div>
    </div>
    </div>
</div>

    <hr class = "my-4" style = "color:#212529;"> 
    
    <!--usr information-->
    <div class = "container text-start">
      <div class="row "> 
        <div class = "col-md-6">
          Email
        </div>
        <div class = "col-md-6">
            {{user.email}}
        </div>
      </div>
      <hr class = "my-4" style = "color:#212529;"> 
      <div class="row "> 
        <div class = "col-md-6">
          Verification Status
        </div>
        <div class = "col-md-6">
          {{user.isVerifiedUser}}
        </div>
      </div>
      <hr class = "my-4" style = "color:#212529;"> 
      <div class="row"> 
        <div class = "col-md-6">
          Residence Manager Status
        </div>
        <div class = "col-md-6">
          {{user.isResidenceManager}}
        </div>
      </div>
      <hr class = "my-4" style = "color:#212529;"> 
    </div>
  </div>


{% endblock %}
