{% extends "base_without_popup.html" %}
{% block title %} Account {% endblock %}

{% block content %}
<h1>Account Info</h1>
<p>user name: {{user.username}}</p>
<p>email: {{user.email}}</p>
<p>verification status: {{user.isVerifiedUser}}</p>
<p>Residence Manager status: {{user.isResidenceManager}}</p>
<button onclick="window.location.href = '{% url 'editProfile' %}'"> Edit </button>
<button onclick="window.location.href = '{% url 'past_review' %}'"> Past Review </button>
<button onclick="Verification()">Request Verification</button>
 <script language="JavaScript">
    function Verification()
    {
        window.location.href = "{% url 'verifyUser'%}";
    }
  </script>

<br>


<!--{% if user.isVerifiedUser %}
  <a class = "btn" > Create a new residence entry </a>
{% else %}
  <a class = "btn"> Request verification </a>
{% endif %}-->


{% endblock %}
