<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Add Comment{% endblock %}

{% block content %}

{% load static %}
<link href=" {% static 'style.css' %} " rel="stylesheet" type="text/css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add New Comment</title>
</head>
<body>
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <br>
    <h4 class="mb-3">Add New Review</h4>
    <br>
    <div class="container">
        <div class="rating-wrap">
            <h2>Overall</h2>
            <fieldset class="rating">
                <input id="star5" name="rating" type="radio" value="5"/><label class="full" for="star5" ></label>
                <input id="star4.5" name="rating" type="radio" value="4.5"/><label class="half" for="star4.5"></label>
                <input id="star4" name="rating" type="radio" value="4"/><label class="full" for="star4"></label>
                <input id="star3.5" name="rating" type="radio" value="3.5"/><label class="half" for="star3.5"></label>
                <input id="star3" name="rating" type="radio" value="3"/><label class="full" for="star3"></label>
                <input id="star2.5" name="rating" type="radio" value="2.5"/><label class="half" for="star2.5"></label>
                <input id="star2" name="rating" type="radio" value="2"/><label class="full" for="star2"></label>
                 <input id="star1.5" name="rating" type="radio" value="1.5"/><label class="half" for="star1.5"></label>
                <input id="star1" name="rating" type="radio" value="1"/><label class="full" for="star1"></label>
                <input id="star0.5" name="rating" type="radio" value="0.5"/><label class="half" for="star0.5"></label>
            </fieldset>
        </div>
    </div>
    <div class="container">
        <div class="rating-wrap">
            <h2>Location</h2>
            <fieldset class="rating">
                <input id="location_star5" name="location_rating" type="radio" value="5"/><label class="full" for="location_star5" ></label>
                <input id="location_star4.5" name="location_rating" type="radio" value="4.5"/><label class="half" for="location_star4.5"></label>
                <input id="location_star4" name="location_rating" type="radio" value="4"/><label class="full" for="location_star4"></label>
                <input id="location_star3.5" name="location_rating" type="radio" value="3.5"/><label class="half" for="location_star3.5"></label>
                <input id="location_star3" name="location_rating" type="radio" value="3"/><label class="full" for="location_star3"></label>
                <input id="location_star2.5" name="location_rating" type="radio" value="2.5"/><label class="half" for="location_star2.5"></label>
                <input id="location_star2" name="location_rating" type="radio" value="2"/><label class="full" for="location_star2"></label>
                 <input id="location_star1.5" name="location_rating" type="radio" value="1.5"/><label class="half" for="location_star1.5"></label>
                <input id="location_star1" name="location_rating" type="radio" value="1"/><label class="full" for="location_star1"></label>
                <input id="location_star0.5" name="location_rating" type="radio" value="0.5"/><label class="half" for="location_star0.5"></label>
            </fieldset>
        </div>
    </div>
        <div class="container">
        <div class="rating-wrap">
            <h2>Quietness</h2>
            <fieldset class="rating">
                <input id="quietness_star5" name="quietness_rating" type="radio" value="5"/><label class="full" for="quietness_star5" ></label>
                <input id="quietness_star4.5" name="quietness_rating" type="radio" value="4.5"/><label class="half" for="quietness_star4.5"></label>
                <input id="quietness_star4" name="quietness_rating" type="radio" value="4"/><label class="full" for="quietness_star4"></label>
                <input id="quietness_star3.5" name="quietness_rating" type="radio" value="3.5"/><label class="half" for="quietness_star3.5"></label>
                <input id="quietness_star3" name="quietness_rating" type="radio" value="3"/><label class="full" for="quietness_star3"></label>
                <input id="quietness_star2.5" name="quietness_rating" type="radio" value="2.5"/><label class="half" for="quietness_star2.5"></label>
                <input id="quietness_star2" name="quietness_rating" type="radio" value="2"/><label class="full" for="quietness_star2"></label>
                 <input id="quietness_star1.5" name="quietness_rating" type="radio" value="1.5"/><label class="half" for="quietness_star1.5"></label>
                <input id="quietness_star1" name="quietness_rating" type="radio" value="1"/><label class="full" for="quietness_star1"></label>
                <input id="quietness_star0.5" name="quietness_rating" type="radio" value="0.5"/><label class="half" for="quietness_star0.5"></label>
            </fieldset>
        </div>
    </div>
    <div class="container">
        <div class="rating-wrap">
            <h2>Quality</h2>
            <fieldset class="rating">
                <input id="quality_star5" name="quality_rating" type="radio" value="5"/><label class="full" for="quality_star5" ></label>
                <input id="quality_star4.5" name="quality_rating" type="radio" value="4.5"/><label class="half" for="quality_star4.5"></label>
                <input id="quality_star4" name="quality_rating" type="radio" value="4"/><label class="full" for="quality_star4"></label>
                <input id="quality_star3.5" name="quality_rating" type="radio" value="3.5"/><label class="half" for="quality_star3.5"></label>
                <input id="quality_star3" name="quality_rating" type="radio" value="3"/><label class="full" for="quality_star3"></label>
                <input id="quality_star2.5" name="quality_rating" type="radio" value="2.5"/><label class="half" for="quality_star2.5"></label>
                <input id="quality_star2" name="quality_rating" type="radio" value="2"/><label class="full" for="quality_star2"></label>
                 <input id="quality_star1.5" name="quality_rating" type="radio" value="1.5"/><label class="half" for="quality_star1.5"></label>
                <input id="quality_star1" name="quality_rating" type="radio" value="1"/><label class="full" for="quality_star1"></label>
                <input id="quality_star0.5" name="quality_rating" type="radio" value="0.5"/><label class="half" for="quality_star0.5"></label>
            </fieldset>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row g-3">
            <div class="col-12">
                <label for="id_name" class="form-label">Choose your room type</label>
                <select id="id_room_type" name="room_type">
                    <option value="ST">Studio</option>
                    <option value="SH">Shared-room</option>
                    <option value="TO">Two-room</option>
                    <option value="TH">Three-room</option>
                    <option value="FR">Four-room</option>
                    <option value="UN">Unknown</option>
                </select>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <label for="id_time_lived" class="col-sm-1 form-label">Time Lived (months)</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" id="id_time_lived" name = "time_lived" maxlength="5" value="" type="number" required>
                </div>
                
                <div class="invalid-feedback">
                    Please enter a valid Residence name.
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <label for="id_rent" class="col-sm-1 form-label">Rent ($ per month)</label>
                <div class="col-sm-11">
                    <input type="number" class="form-control" id="id_rent" name="rent" placeholder="0" value="" maxlength="5" required>
                </div>
                <div class="invalid-feedback">
                    Please enter a valid street name.
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <label for="id_title" class="col-sm-1 form-label">Title</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" id="id_title" name="title" placeholder="" maxlength="100" required>
                </div>
                
                <div class="invalid-feedback">
                    Please enter a valid zipcode.
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <label for="id_tags" class="col-sm-1 form-label">Content</label>
                <div class="col-sm-11">
                    <textarea id="id_content" name="content" class="form-control" rows="7"></textarea>
                </div>
                <div class="invalid-feedback">
                    Please enter tags.
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-12">
                <label for="id_live_again" class="col-sm-1 form-label">Live Again</label>
                <input id="id_live_again" name="live_again" type="checkbox">
                <div class="invalid-feedback">
                    Please enter a valid street number.
                </div>
            </div>

            <div class="col-12">
                <label for="id_is_anonymous">Post review anonymously</label>
                <input id="id_is_anonymous" name="isAnonymous" type="checkbox">
                <div class="invalid-feedback">
                    Please enter tags.
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <button class='btn btn-secondary' type="submit">Add Comment</button>
    <br>
    <br>
</form>
</body>
</html>
{% endblock %}