<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Add Comment{% endblock %}

{% block content %}

{% load static %}
<link href=" {% static 'style.css' %} " rel="stylesheet" type="text/css">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Comment</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <h4 class="mb-3">Add Review</h4>
    <br>
    <div class="container">
        <div class="rating-wrap">
            <h2>Overall</h2>
            <fieldset class="rating">
                <input id="star5" name="rating" type="radio" value="5" {% if comment.rating == 5 %}checked{% endif %}/>
                <label class="full" for="star5" ></label>
                <input id="star4.5" name="rating" type="radio" value="4.5"{% if comment.rating == 4.5 %}checked{% endif %}/>
                <label class="half" for="star4.5"></label>
                <input id="star4" name="rating" type="radio" value="4" {% if comment.rating == 4 %}checked{% endif %}/>
                <label class="full" for="star4"></label>
                <input id="star3.5" name="rating" type="radio" value="3.5"{% if comment.rating == 3.5 %}checked{% endif %}/>
                <label class="half" for="star3.5"></label>
                <input id="star3" name="rating" type="radio" value="3" {% if comment.rating == 3 %}checked{% endif %}/>
                <label class="full" for="star3"></label>
                <input id="star2.5" name="rating" type="radio" value="2.5"{% if comment.rating == 2.5 %}checked{% endif %}/>
                <label class="half" for="star2.5"></label>
                <input id="star2" name="rating" type="radio" value="2" {% if comment.rating == 2 %}checked{% endif %}/>
                <label class="full" for="star2"></label>
                <input id="star1.5" name="rating" type="radio" value="1.5"{% if comment.rating == 1.5 %}checked{% endif %}/>
                <label class="half" for="star1.5"></label>
                <input id="star1" name="rating" type="radio" value="1" {% if comment.rating == 1 %}checked{% endif %}/>
                <label class="full" for="star1"></label>
                <input id="star0.5" name="rating" type="radio" value="0.5"{% if comment.rating == 0.5 %}checked{% endif %}/>
                <label class="half" for="star0.5"></label>
            </fieldset>
        </div>
        <div class="rating-wrap">
            <h2>Location</h2>
            <fieldset class="rating">
                <input id="location_star5" name="location_rating" type="radio" value="5" {% if comment.location_rating == 5 %}checked{% endif %}/>
                <label class="full" for="location_star5" ></label>
                <input id="location_star4.5" name="location_rating" type="radio" value="4.5"{% if comment.location_rating == 4.5 %}checked{% endif %}/>
                <label class="half" for="location_star4.5"></label>
                <input id="location_star4" name="location_rating" type="radio" value="4" {% if comment.location_rating == 4 %}checked{% endif %}/>
                <label class="full" for="location_star4"></label>
                <input id="location_star3.5" name="location_rating" type="radio" value="3.5"{% if comment.location_rating == 3.5 %}checked{% endif %}/>
                <label class="half" for="location_star3.5"></label>
                <input id="location_star3" name="location_rating" type="radio" value="3" {% if comment.location_rating == 3 %}checked{% endif %}/>
                <label class="full" for="location_star3"></label>
                <input id="location_star2.5" name="location_rating" type="radio" value="2.5"{% if comment.location_rating == 2.5 %}checked{% endif %}/>
                <label class="half" for="location_star2.5"></label>
                <input id="location_star2" name="location_rating" type="radio" value="2" {% if comment.location_rating == 2 %}checked{% endif %}/>
                <label class="full" for="location_star2"></label>
                <input id="location_star1.5" name="location_rating" type="radio" value="1.5"{% if comment.location_rating == 1.5 %}checked{% endif %}/>
                <label class="half" for="location_star1.5"></label>
                <input id="location_star1" name="location_rating" type="radio" value="1" {% if comment.location_rating == 1 %}checked{% endif %}/>
                <label class="full" for="location_star1"></label>
                <input id="location_star0.5" name="location_rating" type="radio" value="0.5"{% if comment.location_rating == 0.5 %}checked{% endif %}/>
                <label class="half" for="location_star0.5"></label>
            </fieldset>
        </div>

        <div class="rating-wrap">
            <h2>Quietness</h2>
            <fieldset class="rating">
                <input id="quietness_star5" name="quietness_rating" type="radio" value="5" {% if comment.quietness_rating == 5 %}checked{% endif %}/>
                <label class="full" for="quietness_star5" ></label>
                <input id="quietness_star4.5" name="quietness_rating" type="radio" value="4.5"{% if comment.quietness_rating == 4.5 %}checked{% endif %}/>
                <label class="half" for="quietness_star4.5"></label>
                <input id="quietness_star4" name="quietness_rating" type="radio" value="4" {% if comment.quietness_rating == 4 %}checked{% endif %}/>
                <label class="full" for="quietness_star4"></label>
                <input id="quietness_star3.5" name="quietness_rating" type="radio" value="3.5"{% if comment.quietness_rating == 3.5 %}checked{% endif %}/>
                <label class="half" for="quietness_star3.5"></label>
                <input id="quietness_star3" name="quietness_rating" type="radio" value="3" {% if comment.quietness_rating == 3 %}checked{% endif %}/>
                <label class="full" for="quietness_star3"></label>
                <input id="quietness_star2.5" name="quietness_rating" type="radio" value="2.5"{% if comment.quietness_rating == 2.5 %}checked{% endif %}/>
                <label class="half" for="quietness_star2.5"></label>
                <input id="quietness_star2" name="quietness_rating" type="radio" value="2" {% if comment.quietness_rating == 2 %}checked{% endif %}/>
                <label class="full" for="quietness_star2"></label>
                <input id="quietness_star1.5" name="quietness_rating" type="radio" value="1.5"{% if comment.quietness_rating == 1.5 %}checked{% endif %}/>
                <label class="half" for="quietness_star1.5"></label>
                <input id="quietness_star1" name="quietness_rating" type="radio" value="1" {% if comment.quietness_rating == 1 %}checked{% endif %}/>
                <label class="full" for="quietness_star1"></label>
                <input id="quietness_star0.5" name="quietness_rating" type="radio" value="0.5"{% if comment.quietness_rating == 0.5 %}checked{% endif %}/>
                <label class="half" for="quietness_star0.5"></label>
            </fieldset>
        </div>

        <div class="rating-wrap">
            <h2>Quality</h2>
            <fieldset class="rating">
                <input id="quality_star5" name="quality_rating" type="radio" value="5" {% if comment.quality_rating == 5 %}checked{% endif %}/>
                <label class="full" for="quality_star5" ></label>
                <input id="quality_star4.5" name="quality_rating" type="radio" value="4.5"{% if comment.quality_rating == 4.5 %}checked{% endif %}/>
                <label class="half" for="quality_star4.5"></label>
                <input id="quality_star4" name="quality_rating" type="radio" value="4" {% if comment.quality_rating == 4 %}checked{% endif %}/>
                <label class="full" for="quality_star4"></label>
                <input id="quality_star3.5" name="quality_rating" type="radio" value="3.5"{% if comment.quality_rating == 3.5 %}checked{% endif %}/>
                <label class="half" for="quality_star3.5"></label>
                <input id="quality_star3" name="quality_rating" type="radio" value="3" {% if comment.quality_rating == 3 %}checked{% endif %}/>
                <label class="full" for="quality_star3"></label>
                <input id="quality_star2.5" name="quality_rating" type="radio" value="2.5"{% if comment.quality_rating == 2.5 %}checked{% endif %}/>
                <label class="half" for="quality_star2.5"></label>
                <input id="quality_star2" name="quality_rating" type="radio" value="2" {% if comment.quality_rating == 2 %}checked{% endif %}/>
                <label class="full" for="quality_star2"></label>
                <input id="quality_star1.5" name="quality_rating" type="radio" value="1.5"{% if comment.quality_rating == 1.5 %}checked{% endif %}/>
                <label class="half" for="quality_star1.5"></label>
                <input id="quality_star1" name="quality_rating" type="radio" value="1" {% if comment.quality_rating == 1 %}checked{% endif %}/>
                <label class="full" for="quality_star1"></label>
                <input id="quality_star0.5" name="quality_rating" type="radio" value="0.5"{% if comment.quality_rating == 0.5 %}checked{% endif %}/>
                <label class="half" for="quality_star0.5"></label>
            </fieldset>
        </div>
    </div>

    <br>
    <br>
    <div class="container">
        <div class="row g-3">
            <div class="row">
                <div class="col">
                    <div class="col-12">
                        <label for="id_room_type" class="form-label">Choose your room type</label>
                        <br>
                        <select id="id_room_type" name="room_type">
                            <option value="ST">Studio</option>
                            <option value="SH">Shared-room</option>
                            <option value="TO">Two-room</option>
                            <option value="TH">Three-room</option>
                            <option value="FR">Four-room</option>
                            <option value="UN">Unknown</option>
                        </select>
                    </div>
                </div>
                <div class = "col">
                    <div class="form-group row">
                        <label for="id_time_lived" class="form-label">Time Lived (months)</label>
                        <div class="col-sm-4 offset-4">
                            <input style="text-align:center" type="text" class="form-control" id="id_time_lived" name = "time_lived" maxlength="5" value="" type="number" required>
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid Residence name.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="id_rent" class="form-label">Rent ($ per month)</label>
                        <div class="col-sm-4 offset-4">
                            <input style="text-align:center" type="number" class="form-control" id="id_rent" name="rent" placeholder="0" value="" maxlength="5" required>
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid street name.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <label for="id_title" class="form-label">Title</label>
                <br>
                <div class="col-sm-10 offset-1">
                    <input style="text-align:center" type="text" class="form-control" id="id_title" name="title" placeholder="" maxlength="100" required>
                    <br>
                </div>
                <div class="invalid-feedback">
                    Please enter a valid zipcode.
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <label for="id_content" class="form-label">Content</label>
                <br>
                <div class="col-sm-10 offset-1">
                    <textarea id="id_content" name="content" class="form-control" rows="7"></textarea>
                </div>
                
                <div class="invalid-feedback">
                    Please enter tags.
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-12">
                <label for="id_live_again" class="col-sm-1 form-label">Live Again</label>
                <input id="id_live_again" name="live_again" type="checkbox">
                <div class="invalid-feedback">
                    Please enter a valid street number.
                </div>
            </div>

            <div class="col-12">
                <label for="id_has_furniture" class="col-sm-1 form-label">Does residence have furniture?</label>
                <input id="id_has_furniture" name="has_furniture" type="checkbox">
                <div class="invalid-feedback">
                    Please enter a correct furniture status
                </div>
            </div>

            <div class="col-12">
                <label for="id_is_anonymous">Post review anonymously</label>
                <input id="id_is_anonymous" name="isAnonymous" type="checkbox">
                <div class="invalid-feedback">
                    Please enter tags.
                </div>
            </div>

            <div class="col-12">
                <label for="id_photo">Add photo for your review</label>
                <input id="id_photo" name="review_photo" type="file" accept="image/*" >
            </div>
        </div>
    </div>
    <br>
    <br>
    <button class='btn btn-secondary' type="submit">Add Comment</button>
    <br>
    <br>
</form>
</body>
</html>
{% endblock %}