<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Hello World {% endblock %}</title>
</head>
<body>
<button onclick="likeToLeave()">HOME</button>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <script language="JavaScript">
    function likeToLeave()
    {
      let text = "Returning home will delete any unsaved data.";
      if (confirm(text) == true) {
        window.location.href = "{% url 'home' %}";
      }
    }
  </script>
</body>
</html>