<!-- templates/registration/login.html -->
{% extends "account_base.html" %}
{% load static %}
{% block title %}Edit Profile Photo{% endblock %}
{% block content %}
<br>
<div>
  <h2 class="text-start text-dark">Upload Profile Photo</h2>
</div>
<p class="text-start text-dark fst-italic"> Upload your favorite photo here!</p>
<hr class = "mb-4" style = "color:#212529;">


  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="row d-flex align-items-start">
      <div class="row align-items-start pl-0">
        <div><input class="form-control" type="file" name="image" accept="image/*" required id="id_image"></div>
        {{ photo_form.non_field_errors }}
        <div class="row mt-3 d-flex align-items-start">
          <div class="btn-group me-2 col-md-2 col-lg-4">
            <button type="submit" class="btn btn-dark">Save Photo</button>
            <button type="button" class="btn btn-dark" onclick="window.location.href = '{% url 'profile' %}'">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}