{% extends "base.html" %}
{% block title %}RateMyResidence{% endblock %}
{% block content %}
    <!-- navigation bar-->

      <!-- header to be added -->
      <div class="cover-containerw-100 h-50 p-3 mx-auto flex-column">
        <header class="mb-auto">

        </header>
      </div>

      <!-- search bar -->
      <div class = "container text-center">
        <div class = "row justify-content-md-center">
            <form role="search" action={% url 'search_results' %} method='get'>
              <div class = "row">
                <div class="col-lg-2"></div>
                <div class = "col col-lg-6 ">
                    <input type="search" list = "resnames" class="form-control ms-5" placeholder="Enter residence name" aria-label="Search" name='name'>
                    <datalist id = "resnames">
                      {% for res in resnames %}
                        <option value = "{{res.name}}"></option>
                      {% endfor %}
                    </datalist>
                </div>
                <div class = "col col-lg-2">
                  <button type="submit" class="btn btn-dark btn-sm">SEARCH</button>
                </div>
                <div class="col-lg-2"></div>
              </div>    
            </form>
        </div>
      </div>

      <!-- Alert for error in seaching -->
      <div class = "row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-lg-3"></div>
      </div>
{% endblock %}