{% extends "base.html" %}

{% block title %}Edit Password{% endblock %}

{% block content %}
<br>
<div class="container py-5 h-120">
    <div class="row d-flex align-items-center justify-content-center h-120">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h4 class="mb-3">Edit Password</h4>
            <form method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    <label for="id_old_password" class="form-label">Old Password</label>
                    <input type="password" name="old_password" class="form-control" id="id_old_password" maxlength="30" required>
                </div>
                <div class="form-outline mb-4">
                    <label for="id_new_password" class="form-label">New Password</label>
                    <input type="password" name="new_password1" class="form-control" id="id_new_password" maxlength="30" required>
                </div>
                <div class="form-outline mb-4">
                    <label for="id_new_password2" class="form-label">Confirm Password</label>
                    <input type="password" name="new_password2" class="form-control" id="id_new_password2" maxlength="30" required>
                </div>

                <button class='btn btn-secondary' type="submit">Update Password</button>
            </form>
        </div>
    </div>
    <br>
</div>

{% endblock %}