{% extends "account_base.html" %}

{% block title %}Request List{% endblock %}

{% block content %}
<br>
<div>
  <h2 class="text-start text-dark">Pending Manager Request List </h2>
</div>
<p class="text-start text-dark fst-italic"> See a list of pending manager request here!</p>
<hr class = "mb-4" style = "color:#212529;">

{% if object_list %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
{% for object in object_list %}
    <div class="col-md-4">
        <a href = "{%url 'request_detail' object.pk %}" style="color: black; text-decoration: none;">
        <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal"> Request User:{{object.belonged_user.username}}</h4>
        </div>
        <div class="card-body">
            Request residence: {{object.requestResidence.name}}
        </div>
        </div>
        </a>
    </div>
{% endfor %}
</div>
{% else %}
<h5 class = "text-start">There are no pending request </h1>
{% endif %}
{% endblock %}