{% extends "base_without_popup.html" %}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% block title %}Residence Page{% endblock %}

{% block content %}
    <div class="container px-4 py-5">    
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
          <div class="d-flex flex-column align-items-start gap-2">
            <h1 class="fw-bold">{{ object.name }}</h1>
            <h4 class="fw-semibold mb-0"> Tags </h4>
                {% for tag in tags %}
                    <p class="mb-1 text-muted">{{tag}}</p>
                {% endfor %}

                {% if object.manager.all %}
                <h4 class="fw-semibold mb-0"> Residence managers </h4>
                    {% for manager in object.manager.all %}    
                    <p class="mb-1 text-muted">{{manager}}</p>
                    {% endfor %}
                {% endif %}

                <h4 class="fw-semibold mb-0">Residence address</h4>
                <p class="mb-1 text-muted">{{ object.location.streetNum }} {{ object.location.streetName }} {{ object.location.zipcode }}</p>

                <h4 class="fw-semibold mb-0">Residence Website</h4>
                {% if object.website == "None" %}
                    <p class="mb-1 text-muted">None</p>
                {% else %}
                    <button onclick="window.location.href = '{{ object.website }}'" class="btn btn-dark btn-sm">Go to residence website</button>
                {% endif %}

                <h4 class="fw-semibold mb-0">Add a new review</h4>
                <form>
                    <button formaction="/addReview/{{object.pk}}" class="btn btn-dark btn-sm">Write a review</button>
                </form>
                {% if user.isResidenceManager %}
                    <h4 class="fw-semibold mb-0">Edit Residence</h4>
                    <button onclick="Edit()" class="btn btn-dark btn-sm">Edit</button>
                    <script language="JavaScript">
                    function Edit() {
                        window.location.href = "/residence/{{object.pk}}/edit";
                    }
                    </script>
                {% endif %}
          </div>
        </div>
    </div>

<div class="container">
    {% if not object.comments.all %}
        <small>No comment yet</small>
    {% else %}
        <br>
        <div class="container px-3 py-4">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-5">
                <div class="col d-flex align-items-start">
                    <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
                    </div>
                    <div>
                        <h5>Sort by default reviews</h5>
                        <a href= "{% url 'residence_info' object.pk %}"><button type = "button" class="btn btn-dark btn-sm">click here</button></a>
                    </div>
                  </div>


              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
                </div>
                <div>
                    <h5>Sort by low to high ratings</h5>
                    <a href = "{% url 'residence_info' object.pk %}?sort=lhratings"><button type = "button" class="btn btn-dark btn-sm">click here</button></a>
                </div>
              </div>

              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
                </div>
                <div>
                    <h5>Sort by high to low ratings</h5>
                    <a href = "{% url 'residence_info' object.pk %}?sort=hlratings"><button type = "button" class="btn btn-dark btn-sm">click here</button></a>
                </div>
              </div>

              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                    <h5>Sort by number of likes</h5>
                    <a href= "{% url 'residence_info' object.pk %}?sort=likes"><button type = "button" class="btn btn-dark btn-sm">click here</button></a>
                </div>
              </div>

              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                    <h5>Sort by number of dislikes</h5>
                    <a href= "{% url 'residence_info' object.pk %}?sort=dislikes"><button type = "button" class="btn btn-dark btn-sm">click here</button></a>
                </div>
              </div>
            </div>
        </div>

        <div class="container px-4 py-5">
        
            <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
              <div class="d-flex flex-column align-items-start gap-2">
                <h3 class="fw-bold">Review Section</h3>
              </div>
        
                <div class="d-flex flex-column gap-2">
                  <div
                    class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  </div>
                  <h4 class="fw-semibold mb-0">Filter</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ updateForm }}
                        <button type="submit" class="btn btn-dark btn-sm">Filter</button>
                    </form>
                </div>
              </div>
            </div>
          </div>

        <!-- <div class = "row">
            <div class = "col-md-2"><h3>Review Section</h3></div>
        </div>

        <br> -->
       
        <div id = "original">
        
        {% for comment in reviews.all %}
            <div class="p-3 p-md-3 mb-5 rounded text-bg-dark">
              <div class="col-md-12 px-0">
                <h1 class="display-4 fst-italic">{{ comment.title }}</h1>
                <p class="lead my-3">
                    <div class="mb-1" style = "color: #9D968D">

                        {% if comment.room_type == 'ST' %}
                            Room type: <strong>Studio</strong>
                        {% elif comment.room_type == 'SH' %}
                            Room type: <strong>Shared-room </strong>
                        {% elif comment.room_type == 'TO' %}
                            Room type: <strong>Two-room</strong>
                        {% elif comment.room_type == 'TH' %}
                            Room type: <strong>Three-room</strong>
                        {% elif comment.room_type == 'FR' %}
                            Room type: <strong>Four-room</strong>
                        {% elif comment.room_type == 'UN' %}
                            Room type: <strong>Unknown</strong>
                        {% endif %}

                    Time lived: <strong>{{ comment.time_lived }} months</strong> 
                        Rent: <strong>$ {{comment.rent }} / month</strong>
                        {% if comment.live_again %}
                            Would live again: <strong>Yes</strong>
                        {% else %}
                            Would live again: <strong>No</strong>
                        {% endif %}<br>

                        Overall rating: <strong>{{ comment.rating }}</strong>
                        Location rating: <strong>{{ comment.location_rating }}</strong>
                        Quietness rating: <strong>{{ comment.quietness_rating }}</strong>
                        Quality rating: <strong>{{ comment.quality_rating }}</strong>
                    </div>
                    <br>

                    <h3>{{ comment.content }}</h3><br>
                    {% if comment.isAnonymous and comment.reviewer != user %}
                        by Anonymous User
                    {% else %}
                        by {{ comment.reviewer }}
                    {% endif %}
                    | {{ comment.publishTime }} <br>
                    <br>

                    {% if user == comment.reviewer%}
                        <form>
                            <button formaction="/changecomment/{{comment.pk}}/" class = "btn btn-primary btn-sm"> Update Comment</button>
                            <button formaction="/deletecomment/{{comment.pk}}" class = "btn btn-primary btn-sm">  Delete Comment</button>
                        </form>
                    {% endif %}

                    <br>
                    
                    <form action = "{% url 'likeReview' object.pk %}">
                        {% csrf_token %}
                        <button type = "submit", name = "review_id", value = "{{ comment.id }}" class = "btn btn-primary btn-sm">Like</button>
                        <strong> {{ comment.likes.count }} likes </strong>
                    </form>
                    <br>
                    <form action = "{% url 'dislikeReview' object.pk %}">
                        {% csrf_token %}
                        <button type = "submit", name = "review_id", value = "{{ comment.id }}" class = "btn btn-primary btn-sm">Dislike</button>
                        <strong> {{ comment.dislikes.count }} Dislikes </strong>
                    </form>
                </p>
              </div>
            </div>
        
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}