<!DOCTYPE html>
<html>
<ul>
  {% if object_list %}
    {% for Residence in object_list %}
    <li>
      {{Residence.name}}
      <ul>
        <li>Managers</li>
        {% if Residence.manager.all %}
          <ul>
            {% for manager in Residence.manager.all %}
              <li>{{manager}}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <li>{{Residence.location.streetName}}</li>
        <li>{{Residence.location.streetNum}}</li>
        <li>{{Residence.location.zipcode}}</li>
      </ul>
    </li>
    {% endfor %}
  {% else %}

  {% endif %}
</html>