{% extends "base_without_popup.html" %}
 <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% block title %}Residence Page{% endblock %}

{% block content %}
{% if user.isResidenceManager %}
<button onclick="Edit()">Edit Residence</button>
 <script language="JavaScript">
    function Edit()
    {
        window.location.href = "/residence/{{object.pk}}/edit";
    }
  </script>
{% endif %}
<h2> Residence name: {{ object.name }} </h2>
<h2> Tags:
    {% for tag in tags %}
        {{tag}}
    {% endfor %}
</h2>


{% if object.manager.all %}
    <h2> Residence managers: 
    {% for manager in object.manager.all %}    
        {{manager}}
    {% endfor %}
    </h2>        
{% endif %}
<h2> Residence adress: {{ object.location.streetNum }} {{ object.location.streetName }} {{ object.location.zipcode }} </h2>
<!-- <a href = "{%url 'add_review' object.pk %}">Add comment here</a> -->
<form>
    <button formaction="/addReview/{{object.pk}}">Write a review</button>
  </form>
<h2>Review Section</h2>
<strong> <-----------------------------------------------------------------------></strong>


{% if not object.comments.all %}
    <small>No comment yet</small>
    <!-- <a href = "{%url 'add_review' object.pk %}">Add comment here</a> -->
{% else %}
    <br>
    <button id = "lhbtn" onclick="ascending()">sort by low to high ratings</button>
    <button id = "hlbtn" onclick="descending()">sort by high to low ratings</button>
    <div id = "original">
    {% for comment in object.comments.all %}
        <br>
        <h3>{{ comment.title }}</h3><br>
        time lived: {{ comment.time_lived }} <br>
        rent: $ {{comment.rent }} / month <br>
        {% if comment.live_again %}
            Would live again: Yes
        {% else %}
            Would live again: No
        {% endif %} <br>
        rating: {{ comment.rating }}  <br>
        {{ comment.content }}<br>
        {% if comment.isAnonymous and comment.reviewer != user %}
            by Anonymous User

        {% else %}
            by {{ comment.reviewer }}
        {% endif %}
        | {{ comment.publishTime }} <br>
        {{ comment.likes }} likes <br>
        <br>
        <form>
            <button formaction="/changecomment/{{comment.pk}}/"> Update Comment</button>
            <button formaction="/deletecomment/{{comment.pk}}">  Delete Comment</button>
            <!-- <button formaction="/residence/{{object.pk}}", type = "submit", name = "review_id", value = "{{ comment.id }}"> Like</button>
            <strong> {{ comment.likes }} likes </strong> -->
        </form>

        <form action = "{% url 'likeReview' object.pk %}">
            {% csrf_token %}
            <button type = "submit", name = "review_id", value = "{{ comment.id }}">Like</button>
            <strong> {{ comment.likes.count }} likes </strong>
        </form>
        <strong> <-----------------------------------------------------------------------></strong>


        <!-- <a href = "/changecomment/{{comment.pk}}/">Update Comment</a> <a href="/deletecomment/{{comment.pk}}">  Delete Comment</a><br> -->
    {% endfor %}
    </div>

    <div id = "lhrating" style = "display:none">
    {% for comment in object.comments.all|dictsort:"rating" %}
        <br>
        <h3>{{ comment.title }}</h3><br>
        time lived: {{ comment.time_lived }} <br>
        rent: $ {{comment.rent }} / month <br>
        {% if comment.live_again %}
            Would live again: Yes
        {% else %}
            Would live again: No
        {% endif %} <br>
        rating: {{ comment.rating }}  <br>
        {{ comment.content }}<br>
        {% if comment.isAnonymous and comment.reviewer != user %}
            by Anonymous User

        {% else %}
            by {{ comment.reviewer }}
        {% endif %}
        | {{ comment.publishTime }} <br>
        {{ comment.likes }} likes <br>
        <br>
        <form>
            <button formaction="/changecomment/{{comment.pk}}/"> Update Comment</button>
            <button formaction="/deletecomment/{{comment.pk}}">  Delete Comment</button>
        </form>
        <form action = "{% url 'likeReview' object.pk %}">
            {% csrf_token %}
            <button type = "submit", name = "review_id", value = "{{ comment.id }}">Like</button>
            <strong> {{ comment.likes.count }} likes </strong>
        </form>
        <strong> <-----------------------------------------------------------------------></strong>
        
        {% endfor %}
    </div>

    <div id = "hlrating" style = "display:none">
    {% for comment in object.comments.all|dictsortreversed:"rating" %}
        <br>
        <h3>{{ comment.title }}</h3><br>
        time lived: {{ comment.time_lived }} <br>
        rent: $ {{comment.rent }} / month <br>
        {% if comment.live_again %}
            Would live again: Yes
        {% else %}
            Would live again: No
        {% endif %} <br>
        rating: {{ comment.rating }}  <br>
        {{ comment.content }}<br>
        {% if comment.isAnonymous and comment.reviewer != user %}
            by Anonymous User

        {% else %}
            by {{ comment.reviewer }}
        {% endif %}
        | {{ comment.publishTime }} <br>
        {{ comment.likes }} <br>
        <form>
            <button formaction="/changecomment/{{comment.pk}}/"> Update Comment</button>
            <button formaction="/deletecomment/{{comment.pk}}">  Delete Comment</button>
        </form>
        <form action = "{% url 'likeReview' object.pk %}">
            {% csrf_token %}
            <button type = "submit", name = "review_id", value = "{{ comment.id }}">Like</button>
            <strong> {{ comment.likes.count }} likes </strong>
        </form>
        <strong> <-----------------------------------------------------------------------></strong>
        
        {% endfor %}
    </div>
    
    {% endif %}
    <script type="text/javaScript">
        function ascending() {
            var orig =  document.getElementById("original");
            var ratehl = document.getElementById("hlrating");
            if (orig.style.display != "none" || ratehl.style.display != "none") {
                orig.style.display = "none";
                ratehl.style.display = "none";
            }
            document.getElementById("lhrating").style.display = "block";
        }
        function descending() {
            var orig =  document.getElementById("original");
            var ratelh = document.getElementById("lhrating");
            if (orig.style.display != "none" || ratelh.style.display != "none") {
                orig.style.display = "none";
                ratelh.style.display = "none";
            }
            document.getElementById("hlrating").style.display = "block";
        }
    </script>

    
       
    

{% endblock %}