{% extends "base_without_popup.html" %}

{% block title %}Residence Page{% endblock %}

{% block content %}
<h2> Residence name: {{ object.name }} </h2>
<h2> Tags:
    {% for tag in tags %}
        {{tag}}
    {% endfor %}
</h2>


{% if object.manager.all %}
    <h2> Residence managers: 
    {% for manager in object.manager.all %}    
        {{manager}}
    {% endfor %}
    </h2>        
{% endif %}
<h2> Residence adress: {{ object.location.streetNum }} {{ object.location.streetName }} {{ object.location.zipcode }} </h2>
<!-- <a href = "{%url 'add_review' object.pk %}">Add comment here</a> -->
<form>
    <button formaction="/addReview/{{object.pk}}">Write a review</button>
  </form>
<h2>Review Section</h2>

{% if not object.comments.all %}
    <small>No comment yet</small>
    <!-- <a href = "{%url 'add_review' object.pk %}">Add comment here</a> -->
{% else %}
    {% for comment in object.comments.all %}

        <br>
        <strong> <------------------------------------------------></strong>
        <h3>{{ comment.title }}</h3><br>
        rating: {{ comment.rating }}  <br>
        {{ comment.content }}<br>
        {% if comment.isAnonymous %}
            by Anonymous User

        {% else %}
            by {{ comment.reviewer }}
        {% endif %}
        | {{ comment.publishTime }} <br>
        <strong> <-----------------------------------------------></strong>


        <a href = "/changecomment/{{comment.pk}}/">Update Comment</a> <a href="/deletecomment/{{comment.pk}}">  Delete Comment</a><br>

    {% endfor %}
{% endif %}

{% endblock %}