<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <!--Navigation bar-->
    <div id="nav-placeholder">
      
    </div>

    <script>
    $(function(){
      $("#nav-placeholder").load("nav_bar.html");
    });
    </script>
    <!--end of Navigation bar-->

    <ul>
      {% if object_list %}
        {% for Residence in object_list %}
        <li>
          <a href = "{%url 'residence_info' Residence.pk%}">{{Residence.name}}</a>
          <!-- <a class = "btn" href = "{% url 'residence_info' Residence.pk %}" role = "button">Residence Detail</a> -->
        </li>
        {% endfor %}
      {% else %}
    
      {% endif %}
  </body>
<!-- <ul>
  {% if object_list %}
    {% for Residence in object_list %}
    <li>
      <a href = "{%url 'residence_info' Residence.pk%}">{{Residence.name}}</a>
      <!-- <a class = "btn" href = "{% url 'residence_info' Residence.pk %}" role = "button">Residence Detail</a> -->
    </li>
    <!-- {% endfor %}
  {% else %}

  {% endif %} --> 
</html>