{% extends "base_without_popup.html" %}

{% block title %}Residence List{% endblock %}

{% block content %}
<div class = "container py-1">
  <div class = "row">
    <h1>Residence List</h1>
  </div>
  <form action= {% url 'search_results' %} method='get'>
    <div class = "row">
      <div class = "col-md-6">
        <label for="res_name">Name</label>
        <input type="search" list = "resnames" id="res_name" name='name' value="{{search_name}}" placeholder="Search By Residence Name" class = "form-control">
          <datalist id = "resnames">
            {% for res in resnames %}
            <option value = "{{res.name}}"></option>
            {% endfor %}
          </datalist>
      </div>
      <div class = "col-md-6">
        <label for="tag_name">Tag</label>
        <input type="search" list = "tagnames" id="tag_name" name="tag" value="{{tag_name}}" placeholder="Search By Tag" class = "form-control">
          <datalist id = "tagnames">
            {% for tag in tagnames %}
              <option value = "{{tag}}"></option>
            {% endfor %}
          </datalist>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="priceMin">Minimum Price</label>
        <input type="number" min=0  {% if minPrice %} value={{minPrice}} {% endif %} class="form-control" id="priceMin" placeholder="0" name="price_min">
        <label for="priceMax">Maximum Price</label>
        <input type="number" min=0 {% if maxPrice %} value={{maxPrice}} {% endif %} class="form-control" id="priceMax" placeholder="0" name="price_max">
      </div>
      <div class="form-group col-lg-4">
        <label for="ratingMin">Minimum Average Rating</label>
        <input type="number" min=0 max=5 {% if minRating %} value={{minRating}} {% endif %} class="form-control" id="ratingMin" placeholder="0" name="rating_min">
        <label for="ratingMax">Maximum Average Rating</label>
        <input type="number" min=0 max=5 {% if maxRating %} value={{maxRating}} {% endif %} class="form-control" id="ratingMax" placeholder="0" name="rating_max">
      </div>
      <div class="form-group col-lg-4">
        <label for="distMin">Minimum Distance from Campus (mi)</label>
        <input type="number" min=0 {% if minDist %} value={{minDist}} {% endif %} class="form-control" id="distMin" placeholder="0" name="dist_min">
        <label for="distMax">Maximum Distance from Campus (mi)</label>
        <input type="number" min=0 {% if maxDist %} value={{maxDist}} {% endif %} class="form-control" id="distMax" placeholder="0" name="dist_max">
      </div>
    </div>
    <div class = "row">
      <div class="form-group col-lg-4">
        <label for="OrderBy">Order By</label>
        <select id="OrderBy" class="form-control" name="OrderBy">
          <option value="None" {% if orderByVal is None or orderByVal == 'None' %} selected {% endif %}>None</option>
          <option value="rating_average" {% if orderByVal == 'rating_average' %} selected {% endif %}>Rating</option>
          <option value="rent_average" {% if orderByVal == 'rent_average' %} selected {% endif %}>Price</option>
          <option value="distance" {% if orderByVal == 'distance' %} selected {% endif %}>Distance</option>
        </select>
        <label for="Order Type">Order Type</label>
        <select id="OrderType" class="form-control" name="OrderType">
          <option value="None" {% if orderTypeVal is None or orderTypeVal == 'None' %} selected {% endif %}>None</option>
          <option value="+" {% if orderTypeVal == '+' %} selected {% endif %}>Low to High</option>
          <option value="-" {% if orderTypeVal == '-' %} selected {% endif %}>High to Low</option>
        </select>
      </div>
      <div class="form-group col-lg-4">
        <label for="PetPolicy">Pet Policy</label>
        <select id="PetPolicy" class="form-control" name="PetPolicy">
          <option value="None" {% if petPolicyVal is None or petPolicyVal == 'None' %} selected {% endif %}>None</option>
          <option value="NP" {% if petPolicyVal == 'NP' %} selected {% endif %}>No Pets</option>
          <option value="RP" {% if petPolicyVal == 'RP' %} selected {% endif %}>Restricted Pets</option>
          <option value="PP" {% if petPolicyVal == 'PP' %} selected {% endif %}>Increased Rent</option>
          <option value="OP" {% if petPolicyVal == 'OP' %} selected {% endif %}>Other</option>
          <option value="UN" {% if petPolicyVal == 'UN' %} selected {% endif %}>Unknown</option>
        </select>
        <label for="ParkingPolicy">Parking Policy</label>
        <select id="ParkingPolicy" class="form-control" name="ParkingPolicy">
          <option value="None" {% if parkingPolicyVal is None or parkingPolicyVal == 'None' %} selected {% endif %}>None</option>
          <option value="NP" {% if parkingPolicyVal == 'NP' %} selected {% endif %}>No Parking</option>
          <option value="PP" {% if parkingPolicyVal == 'PP' %} selected {% endif %}>Paid Parking</option>
          <option value="RP" {% if parkingPolicyVal == 'RP' %} selected {% endif %}>Reserved Parking</option>
          <option value="IP" {% if parkingPolicyVal == 'IP' %} selected {% endif %}>Included Parking</option>
          <option value="OP" {% if parkingPolicyVal == 'OP' %} selected {% endif %}>Other</option>
          <option value="UN" {% if parkingPolicyVal == 'UN' %} selected {% endif %}>Unknown</option>
        </select>
      </div>
      <div class="form-group col-lg-4">
        <label for="Floor Plan">Floor Plan</label>
        <select id="FloorPlan" class="form-control" name="FloorPlan">
          <option value="None" {% if floorPlanVal is None or floorPlanVal == 'None' %} selected {% endif %}>None</option>
          <option value="ST" {% if floorPlanVal == 'ST' %} selected {% endif %}>Studio</option>
          <option value="SH" {% if floorPlanVal == 'SH' %} selected {% endif %}>Shared-room</option>
          <option value="TO" {% if floorPlanVal == 'TO' %} selected {% endif %}>Two-room</option>
          <option value="TH" {% if floorPlanVal == 'TH' %} selected {% endif %}>Three-room</option>
          <option value="FR" {% if floorPlanVal == 'FR' %} selected {% endif %}>Four-room</option>
          <option value="UN" {% if floorPlanVal == 'UN' %} selected {% endif %}>Unknown</option>
        </select>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4"></div>
      <div class = "col-md-4">
        <button class="btn btn-dark btn-md" type="Search">Filter</button>
      </div>
    </div>
  </form>
</div>
<br>
<br>
{% if object_list %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
{% for Residence in object_list %}
  <div class="col-md-4">
     <a href = "{%url 'residence_info' Residence.pk%}" style="color: black; text-decoration: none;">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{Residence.name}}</h4>
      </div>
       <div class="card-body">
        Average Rating: {{Residence.rating_average}}<br>
        Average Price: {{Residence.rent_average}}<br>
        Distance from Campus: {{Residence.distance}} miles<br>
         This is a placeholder for future photos
       </div>
      </div>
     </a>
  </div>
{% endfor %}
</div>
{% else %}
<h1>There are no residences that match your request!</h1>
{% endif %}
{% endblock %}