{% extends "base_without_popup.html" %}

{% block title %}Past Review{% endblock %}

{% block content %}
<!-- <h1>Review</h1>
<ul>
{% for Review in object_list %}
<li>
  <a href = "{%url 'review_detail' Review.pk%}">{{Review.title}}</a>
</li>
{% empty %}
<li>No reviews yet.</li>
</ul>
{% endfor %} -->

<br>
<h1>Past Reviews</h1>
<br>
<br>
<!-- <li></li> -->
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
{% for Review in object_list %}
  <div class="col-md-4">
    <div class="card mb-4 rounded-3 shadow-sm">
      <!-- <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Your Reviews</h4>
      </div> -->
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{Review.title}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Time lived: {{Review.time_lived}} months</li>
          <li>Rent: $ {{Review.rent}}<small class="text-muted fw-light">/mo</small></li>
        </ul>
        <a href = "{%url 'review_detail' Review.pk%}"><button type = "button" class="w-100 btn btn-lg btn-primary">View Details</button></a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}